.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Alfa Slab One', cursive;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px;
    font-family: 'Rubik dirt', cursive;
}

.seccion-descripcion {    
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-descripcion-proyecto {    
    color: #584e4e;
    margin: 15px;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}

.seccion-texto {
    font-size: 1.2rem;
}

.texto-negro {
    color: black;
}

.seccion-blanco {
    color: white;
}

.hero {
    background-color: #f5f6f7;
    min-height: 800px;
    text-align: center;
    padding-bottom: 300px;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

.hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.hero-inferior img {
    width: 100%;
    height: 400px;
}

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}


.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia-titulo {
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}

.experiencia-texto {
    min-height: 350px;
    font-size: 1.1rem;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 5px 15px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    border-radius: 3%;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}

.badge {
    margin: 2px;
}

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    min-width: 230px;
}

.proyecto {
    position: relative;
}

.proyecto img {
    border-radius: 5px;
    padding: 0;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.proyectos-contenedor button {
    color: grey;
    font-weight: bold;
    border: 2px solid #656060;
    padding: 10px 2em;
    margin: 5px;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.screenshot {
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.screenshot img {
    background-color: #656060;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    display: block;
    border-color: #0a0a23;
    border: #0a0a23;
}



.overlay .iconos-contenedor {
    display: flex;
    justify-content: center;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

.testimonios {
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
    font-weight: bold;
    text-align: center;
}
.testimonio-info p {
    margin-bottom: 0;
}

.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
}

.testimonio-footer .cliente {
    font-size: 1.2rem;
}


/* Responsive section */

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    
}

.contacto {
    margin-top: 200px;
}

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
    color: black;
}

footer {
    min-height: 350px;
}

.footer-logo {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}


@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }
    
    .testimonio-texto {
        font-size: 18px;
    }
}
